/** @format */

.custom-border::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid var(--border-color); /* Replace '--border-color' with your actual border color */
  width: 100%;
}
