/** @format */

#signup {
  background: url("https://www.runescape.com/l=1/img/rsp777/splash/compare_users.gif")
    no-repeat center;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 103px;
  margin-right: 8px;
  padding: 11px;
  text-align: center;
  vertical-align: top;
  width: 130px;
}
